{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Werty</title>
    <link rel="stylesheet", href="{% static 'home/Style.css'%}">




</head>
<body>
    <div class ="header">
        <h1>HEADER</h1>
    </div>

      <div class ="menu">
        <h2>MENU<h2>
    </div>

    <div class ="content">
        <h2>CONTENT<h2>
    </div>

    <div class ="footer">
        <h2>FOOTER<h2>
    </div>
    <div class ="button">
        <a href="http://127.0.0.1:8000/index/">
            <button> далее </button>
    </div>

    <div class ="button1">
        <a href="http://127.0.0.1:8000/index/">
            <button> далее </button>
    </div>

    <div class ="button2">
        <a href="http://127.0.0.1:8000/index/">
            <button> далее </button>
    </div>

    <div class ="button3">
        <a href="http://127.0.0.1:8000/index/">
            <button> далее </button>
    </div>

<h5>{{name}} </h5>
<h5> {{surname}} </h5>
</body>
</html>